{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="h-full w-full bg-black grid grid-cols-2 gap-8 p-8">
        <a class="flex flex-row items-center justify-center w-full h-full border rounded-lg border-white"
           href="/showroom/"
        >
            <span class="text-white font-mono font-semibold text-lg">Showroom</span>
        </a>
        <a class="flex flex-row items-center justify-center w-full h-full border rounded-lg border-white cursor-not-allowed"
           href=""
           disabled
        >
            <span class="text-gray-400 font-mono font-semibold text-lg">Catalogue</span>
        </a>
    </div>
{% endblock %}